<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Achievements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Be Proud of Yourself</ion-card-title>
      <ion-card-subtitle>All those Todos!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let todo of achievedTodos">
          <ion-label>
            <h2>{{ todo.name }}</h2>
            <p>{{ todo.start_date | date }} - {{ todo.end_date | date }}</p>
            <p>{{ todo.description }}</p>
          </ion-label>
          <ion-button fill="clear"
            ><ion-icon name="pencil-outline"></ion-icon
          ></ion-button>
          <ion-button fill="clear" (click)="onTodoDelete(todo.id)"
            ><ion-icon name="trash-outline"></ion-icon
          ></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Look at You Go</ion-card-title>
      <ion-card-subtitle>And those Goals!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let goal of achievedGoals">
          <ion-label>
            <h2>{{ goal.name }}</h2>
            <p>{{ goal.start_date | date }} - {{ goal.end_date | date }}</p>
            <p>{{ goal.description }}</p>
          </ion-label>
          <ion-button fill="clear"
            ><ion-icon name="pencil-outline"></ion-icon
          ></ion-button>
          <ion-button fill="clear" (click)="onGoalDelete(goal.id)"
            ><ion-icon name="trash-outline"></ion-icon
          ></ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
