<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Goals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let goal of goals">
    <app-goal [goal]="goal" (checkedEvent)="onChecked($event)"></app-goal>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerDirection="forward" [routerLink]="['/add-goal']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
